<div class="all">
  <div class="container">
    <h2>Lista</h2>

    <form #frm="ngForm" class="add-item-form" (ngSubmit)="adicionarItem()">
      <input type="text" id="item" name="item" [(ngModel)]="item"
        placeholder="Digite o item" required>
      <button type="submit">Adicionar</button>
      <button type="button" (click)="limparLista()">Limpar lista</button>
      <div class="download">
        <button type="button" (click)="downloadPDF()">Baixar lista</button>
      </div>
    </form>

    <div class="lista-wrapper">
      <div class="lista" id="lista">
        <table>
          <thead>
            <tr>
              <th>#</th>
              <th>Itens</th>
              <th>Qtd</th>
              <th>Valor R$:</th>
              <th>V. Total R$:</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            @for (atributo of lista; track atributo.id) {
            <tr>
              <td>{{ atributo.id }}</td>
              <td>
                <span [ngClass]="{ 'removerItem': atributo.comprar}">
                  {{ atributo.nome }}
                </span>
              </td>
              <td>
                <div class="input-quantidade">
                  <input type="number" [(ngModel)]="atributo.quantidade" min="1"
                  required>
                </div>
              </td>
              <td>
                <div class="input-auto">
                  <input type="text" [value]="formatarValor(atributo.valor ?? 0)"
                  (input)="atualizarValor($event, atributo); ajustarLargura($event)"
                  #inputRef>
                  <span class="input-espelho">{{ inputRef.value || '0,00'
                  }}</span>
                  </div>
              </td>
              <td>
                {{ (atributo.quantidade ? +atributo.quantidade : 0) *
                (atributo.valor ? +atributo.valor : 0) |
                currency:'BRL' }}
              </td>
              <td>
                <div class="opcoes-container">
                  <i class="fa fa-ellipsis-v"
                    type="button"
                    (click)="abrirMenuOpcoes(atributo); $event.stopPropagation()"
                    aria-hidden="true"></i>

                  <!-- Menu de opções visível somente para o item selecionado -->
                  <div class="menu-opcoes" *ngIf="itemSelecionado === atributo">
                    <button class= "editar" (click)="editarItem(atributo)">Editar</button>
                    <button class= "remover" (click)="removerItem(atributo)">Remover</button>
                  </div>
                </div>
              </td>
            </tr>
            }
            @empty {
            <tr>
              <td colspan="6">Nenhum item na lista</td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
