* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

 .all {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Alinha ao topo */
  min-height: 100vh;       /* Usa no mínimo a altura da tela */
  background-color: #f0f0f0;
}

.container {
    background-color: #f1f1fa;
    border-radius: 12px;
    box-shadow: 0 18px 20px rgba(0, 0, 0, 0.2);
    padding: 1px;
    text-align: center;
    width: 100%;
    max-width: 700px;
    max-height: 90vh;
    overflow-y: auto; /* Permite rolagem se necessário */
}

h2{
  font-size: 2px;
  margin-bottom: 18px;
  color: #000000;
}

.add-item-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

form input {
  flex: 1;
  padding: 10px;
  border: 1px solid #808080;
  border-radius: 4px;
}

form input:focus {
  outline: none;
  border-color: #007bff;
}

button[type="submit"] {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

button[type="button"] {
  padding: 10px 15px;
  background-color: #ed0e0e;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.input-auto {
  position: relative;
  display: inline-block;
  width: auto;
}

.input-auto input {
  width: auto;
  padding: 5px;
  font: inherit;
  text-align: center;
}

.input-auto .input-espelho {
  visibility: hidden;
  position: absolute;
  white-space: pre;
  font: inherit;
}

.download button{
  color: white;
  background-color: #047944;
  }

i {
  cursor: pointer;
  transition: background-color 0.3s ease
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

thead {
  background-color:#007bff;
  color: white;
}

th, td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #332f2f;
}

.item_riscado {
  text-decoration: line-through;
}

@media (max-width: 608px) {
  .add-item-form {
    flex-direction: column;
    align-items: stretch;
    width: 100%;
  }

  .add-item-form input,
  .add-item-form button {
    width: 100%;
  }
}

@media (max-width:  610px) {
  .lista-wrapper {
    width: 100%;
  }

  .lista table {
    font-size: 14px;
    border-collapse: collapse;
    font-size: 14px;
  }

  .lista th,
  .lista td {
    padding: 3px;
    text-align: center;
    white-space: nowrap;
  }

  .lista td input {
    width: 50%;
    box-sizing: border-box;
  }
}

h2 {
    font-size: 20px;
  }

  table th, table td {
    font-size: 14px;
    padding: 8px;
  }

.add-item-form {
  margin-bottom: 20px;
}

.input-quantidade input {
  width: 40px;
  min-width: 20px;
  text-align: center;
  height: 28px;
}
